<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- ---- External CSS------ -->
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- -------Icons------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Kids Vission V2</title>
</head>

<body>
    <!-- --------Top Navbar-------------->

    <!-- -----------------Before Login --------------- -->
    <div class="fixed-top bg-light top-navbar">
        <ul class="nav justify-content-between align-items-center px-2 py-4 mx-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html"><img src="../static/images/logo.jpg"
                        width="200" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Click Here to Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forgot User Info?</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-primary" style="background-color: #fd5f00; outline: none; border: none;"
                    data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
            </li>
            <li class="nav-item">
                <ul class="d-flex justify-content-between align-items-center social-icon-navbar">
                    <li class="mx-2"><a style="font-size:25px;" target="_blank"
                            href="https://www.facebook.com/KidVisionPreK/" class="fa fa-facebook"></a></li>
                    <li class="mx-2"><a style="font-size:25px;" target="_blank"
                            href="https://www.instagram.com/kidvisionprek/" class="fa fa-instagram"></a></li>
                    <li class="mx-2"><a style="font-size:25px;" target="_blank"
                            href="https://www.youtube.com/playlist?list=PLr4S3PqZjXgllhIw77QEjqdAsaAQ6x_gL"
                            class="fa fa-youtube-play"></a></li>
                    <li class="mx-2"><a style="font-size:25px;" target="_blank" href="https://twitter.com/KidVisionPreK"
                            class="fa fa-twitter"></a></li>
                    <li class="mx-2"><a style="font-size:25px;" target="_blank"
                            href="https://www.pinterest.com/kidvisionprek" class="fa fa-pinterest"></a></li>
                </ul>
            </li>
        </ul>
        <!-- -------------------After Login-------------- -->
        <!-- <div class="fixed-top bg-light top-navbar">
            <ul class="nav justify-content-between align-items-center px-2 mx-0 py-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index.html"><img src="../static/images/logo.jpg"
                            width="200" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-weight:bold;">Welcome - <span>User Name</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Transcripts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Membership Certificate</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" style="background-color: #fd5f00; outline: none; border: none;"
                        type="submit">Log Out</button>
                </li>
                <li class="nav-item">
                    <ul class="d-flex justify-content-between align-items-center social-icon-navbar">
                    <li class="mx-2"><a style="font-size:25px;" target="_blank" href="https://www.facebook.com/KidVisionPreK/"
                                    class="fa fa-facebook"></a></li>
                            <li class="mx-2"><a style="font-size:25px;" target="_blank" href="https://www.instagram.com/kidvisionprek/"
                                    class="fa fa-instagram"></a></li>
                            <li class="mx-2"><a style="font-size:25px;" target="_blank"
                                    href="https://www.youtube.com/playlist?list=PLr4S3PqZjXgllhIw77QEjqdAsaAQ6x_gL"
                                    class="fa fa-youtube-play"></a></li>
                            <li class="mx-2"><a style="font-size:25px;" target="_blank"
                                    href="https://twitter.com/KidVisionPreK"
                                    class="fa fa-twitter"></a></li>
                            <li class="mx-2"><a style="font-size:25px;" target="_blank"
                                    href="https://www.pinterest.com/kidvisionprek"
                                    class="fa fa-pinterest"></a></li>
                </ul>
                </li>
            </ul> -->

        <!-- -----Bottom Navbar---- -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-color">
            <div class="container mx-auto">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-expanded="false">For PreSchool Teachers</a>
                            <ul class="dropdown-menu">
                                <li><a style="color: black;" class="dropdown-item" href="#">Earn CEUs & In-Service
                                        Hrs</a></li>
                                <li><a style="color: black;" class="dropdown-item" href="#">Professional
                                        Development</a>
                                </li>
                                <li><a style="color: black;" class="dropdown-item" href="#">Virtual Field Trips</a>
                                </li>
                                <li><a style="color: black;" class="dropdown-item" href="#">Training Videos</a></li>
                                <li><a style="color: black;" class="dropdown-item" href="#">Resources</a></li>
                                <li><a style="color: black;" class="dropdown-item" href="#">KidVision on Youtube</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-expanded="false">For Parents & Caregivers</a>
                            <ul class="dropdown-menu">
                                <li><a style="color: black;" class="dropdown-item" href="#">Virtual Field Trips</a>
                                </li>
                                <li><a style="color: black;" class="dropdown-item" href="#">Training Videos</a></li>
                                <li><a style="color: black;" class="dropdown-item" href="#">Resources</a></li>
                                <li><a style="color: black;" class="dropdown-item" href="#">Kidvision on Youtube</a>
                                </li>
                                <li><a style="color: black;" class="dropdown-item" href="#">KidVision App</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./sponsor.html">Sponsor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./faq.html">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- ---------------------- -->

        <!-- Modal login -->
        <div class="modal fade modal-vertical" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Enter Your Credentials</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <!-- <label for="exampleFormControlInput1" class="form-label">Username</label> -->
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Username">
                        </div>
                        <div class="mb-3">
                            <!-- <label for="exampleFormControlInput1" class="form-label">Password</label> -->
                            <input type="password" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Password">
                        </div>
                        <button type="button" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------------------ -->



    </div>
    <!-- ------------Video-------- -->
    <section class="showcase">
        <video src="../static//images/bg-video.mp4" muted loop autoplay></video>
        <div class="overlay" style="background: rgba(0, 0, 0, 0.562);"></div>
        <div class="text" style="margin: auto;display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;">
            <h1 class="text-white">Some Overlay Text</h1>
            <a href="https://www.youtube.com/playlist?list=PLr4S3PqZjXgllhIw77QEjqdAsaAQ6x_gL">Watch</a>
        </div>
    </section>
    <!-- ---------------------- -->

    <!-- -----------Counter------------ -->

    <section class="">
        <div class="container-wrap" style="color: white;overflow: hidden;">
            <div class="row no-gutters">
                <div class="col-md-3 py-5 px-4 d-flex justify-content-center align-items-center"
                    style="background-color: #fd5f00;">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-teacher"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">CEUs/In-Service Hours</h3>
                            <p>Go on virtual field trips to learn and earn CEUs/In-Service Hours!.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-5 px-4 d-flex justify-content-center align-items-center"
                    style="background-color: #0d1128;">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-reading"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Membership</h3>
                            <p>Join KidVision Pre-K with a Standard or Teachers Association Membership.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-5 px-4 d-flex justify-content-center align-items-center"
                    style="background-color: #fd5f00;">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-books"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">CEUs En Espanol</h3>
                            <p>Los miembros ahora pueden ganar CEU y horas de servicio en espanol!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-5 px-4 d-flex justify-content-center align-items-center"
                    style="background-color: #0d1128;">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-diploma"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">KidVision Pre-K DVDs</h3>
                            <p>Get the KidVision Pre-K Virtual Field Trips Seasons 1-11 on DVD!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- -------------------------------- -->

    <!-- --------About Kidvision Prek----------- -->
    <div class="container my-2 py-2">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center align-items-start flex-column">
                <h1>About Kidvision Prek</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium optio provident vitae,
                    voluptates perferendis adipisci quidem quasi atque dolore deleniti eum minus doloremque totam,
                    explicabo dolor aperiam suscipit porro. Accusamus.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium optio provident Lorem ipsum
                    dolor, sit amet consectetur adipisicing elit. Praesentium optio provident vitae, voluptates
                    perferendis adipisci quidem quasi atque dolore deleniti eum minus doloremque totam, explicabo
                    dolor
                    aperiam suscipit porro. Accusamus.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <figure class="d-flex justify-content-center align-items-center">
                    <img style="height: 500px; object-fit: contain;" src="https://kidvisionprek.org/images/prek23.jpg"
                        alt="" class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------- -->



    <!-- --------Teachers Association----------- -->
    <div class="container-fluid my-2 gradient-bg-association align-items-center justify-content-center d-flex py-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 py-5 px-5">
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/3sHn98KKoyg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center align-items-start flex-column">
                    <h1>Teachers Association</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium optio provident vitae,
                        voluptates perferendis adipisci quidem quasi atque dolore deleniti eum minus doloremque
                        totam,
                        explicabo dolor aperiam suscipit porro. Accusamus.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium optio provident Lorem
                        ipsum
                        dolor, sit amet consectetur adipisicing elit. Praesentium optio provident vitae, voluptates
                        perferendis adipisci quidem quasi atque dolore deleniti eum minus doloremque totam,
                        explicabo dolor
                        aperiam suscipit porro. Accusamus.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium optio provident Lorem
                        ipsum
                        dolor, sit amet consectetur adipisicing elit. Praesentium optio provident vitae, voluptates
                        perferendis adipisci quidem quasi atque dolore deleniti eum minus doloremque totam,
                        explicabo dolor
                        aperiam suscipit porro. Accusamus.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------- -->


    <!-- --------What's New on Kidvission-------- -->
    <section class="my-2 py-2">
        <h1 class="text-center my-3">What's New on Kidvission</h1>
        <p style="width: 75%;" class="text-center mx-auto px-5 my-5">Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Praesentium optio
            provident Lorem ipsum
            dolor, sit amet consectetur adipisicing elit. Praesentium optio provident vitae, voluptates
            perferendis adipisci quidem quasi atque dolore deleniti eum minus doloremque totam, explicabo dolor
            aperiam suscipit porro. Accusamus.</p>
        <div class="container-fluid">
            <div class="row">
                <div class="card mx-auto" style="width: 18rem; border: none;">
                    <iframe height="180px" style="height:300px; width: 300px;"
                        src="https://www.youtube.com/embed/3sHn98KKoyg" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="card-body">
                        <h2 class="card-title">Fieldtrip Video</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card mx-auto" style="width: 18rem; border: none;">
                    <iframe height="180px" style="height:300px; width: 300px;"
                        src="https://www.youtube.com/embed/3sHn98KKoyg" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="card-body">
                        <h2 class="card-title">Mission Video</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card mx-auto" style="width: 18rem; border: none;">
                    <iframe height="180px" style="height:300px; width: 300px;"
                        src="https://www.youtube.com/embed/3sHn98KKoyg" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="card-body">
                        <h2 class="card-title">360 Video</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card mx-auto" style="width: 18rem; border: none;">
                    <iframe height="180px" style="height:300px; width: 300px;"
                        src="https://www.youtube.com/embed/3sHn98KKoyg" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="card-body">
                        <h2 class="card-title">Kidvission App</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- -------------------------- -->

    <!-- --------Contact Us------------- -->
    <div className='margin'></div>
    <section style="height: 60vh;"
        class="container-fluid my-4 gradient-bg-association align-items-center justify-content-center d-flex py-5">
        <div>
            <h1 class="text-center">Contact Us</h1>
            <div class="container my-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center align-items-start flex-column">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium optio provident
                            vitae,
                            voluptates perferendis adipisci quidem quasi atque dolore deleniti eum minus
                            doloremque totam,
                            explicabo dolor aperiam suscipit porro. Accusamus.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary" style="background-color: #0d1128; outline: none; border: none;"
                            type="submit">Click
                            Here for Customer Support</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ---------------------------------- -->

    <!-- ------Footer----------- -->
    <footer class="footer my-0 py-4">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6 col-lg-3">
                    <div class="mb-3">
                        <h2 class="">About</h2>
                        <div class="block-23 mb-3">
                            <p><img src="../static/images/no-bg-logo.png" alt="Image" class="img-fluid"
                                    style="height: 80px"></p>
                            <p>The purpose of KidVision PreK is to provide preschool teachers with training and
                                tools
                                to...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class=" mb-3 ml-md-4">
                        <h2 class="">Website Info</h2>
                        <ul class="list-unstyled">
                            <li style="margin: 10px 0"><a href="./index.html"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                            <li style="margin: 10px 0"><a href="./about.html"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                            <li style="margin: 10px 0"> <a href="#"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>CEUS/In-Service Hours</a>
                            </li>
                            <li style="margin: 10px 0"> <a href="#"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>Teacher Development</a></li>
                            <li style="margin: 10px 0"><a href="#"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>Virtual Field Trips</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class=" mb-3 ml-md-4">
                        <h2 class="">Links</h2>
                        <ul class="list-unstyled">
                            <li style="margin: 10px 0"><a href="#"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>Privacy Policy</a></li>
                            <li style="margin: 10px 0"><a href="#"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>Join</a></li>
                            <li style="margin: 10px 0"><a href="#"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>Resources</a></li>
                            <li style="margin: 10px 0"><a href="./sponsor.html"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>Sponsors</a></li>
                            <li style="margin: 10px 0"><a href="./faq.html"><span
                                        class="ion-ios-arrow-round-forward mr-2"></span>FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-3">
                        <h2 class="mb-0">Connect With Us</h2>
                        <ul class="px-0 mt-3 d-flex justify-content-start align-items-center flex-row">
                            <li class="mx-2"><a style="font-size:25px;" target="_blank"
                                    href="https://www.facebook.com/KidVisionPreK/" class="fa fa-facebook"></a></li>
                            <li class="mx-2"><a style="font-size:25px;" target="_blank"
                                    href="https://www.instagram.com/kidvisionprek/" class="fa fa-instagram"></a></li>
                            <li class="mx-2"><a style="font-size:25px;" target="_blank"
                                    href="https://www.youtube.com/playlist?list=PLr4S3PqZjXgllhIw77QEjqdAsaAQ6x_gL"
                                    class="fa fa-youtube-play"></a></li>
                            <li class="mx-2"><a style="font-size:25px;" target="_blank"
                                    href="https://twitter.com/KidVisionPreK" class="fa fa-twitter"></a></li>
                            <li class="mx-2"><a style="font-size:25px;" target="_blank"
                                    href="https://www.pinterest.com/kidvisionprek" class="fa fa-pinterest"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> KidVision Pre-K All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- -------------------------- -->


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>